# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.pb.h
*.pb.cc

*.cmake
*.vcxproj
*.vcxproj.filters
*.vcxproj.user

*.tlog
*.log
log_*.log*

CMakeCache.txt
Makefile

# Path
build/
thirdparty/
CMakeFiles/
example/CMakeFiles/
example/*/*.dir/

